@import './my-variable.scss';

@import './scss/1px.scss';
@import './scss/line.scss';
@import './scss/flex.scss';
@import './scss/icon.scss';
@import './scss/animation.scss';
@import './scss/adaptive.scss';
@import './scss/position.scss';
@import './scss/font.scss';

$border-radius-small: 2px;
$border-radius-middle: 4px;
$border-radius-large: 8px;

.my-container {
  position: fixed;
  z-index: 10;
  left: 10px;
  top: 10px;
}
